 <section class="container about-section-container">
        <div class="about-section">
          <h2 class="about-section-title">About Us</h2>
          <ul class="about-section-list">
            <li class="about-section-item">
              <p class="about-section-text">
                The store "Vyshyvanka Vibes" is a place where traditional
                Ukrainian vyshyvanka comes to life with new zest and style. Our
                store offers a wide selection of high-quality and authentic
                embroidery, which combines the elegance of traditional
                needlework and modern design.
              </p>
              <details class="disclosure-widgets">
                <summary>The store "Vyshyvanka Vibes" offers</summary>
                <p>
                  The store "Vyshyvanka Vibes" is a place where traditional
                  Ukrainian vyshyvanka comes to life with new zest and style.
                  Our store offers a wide selection of high-quality and
                  authentic embroidery, which combines the elegance of
                  traditional needlework and modern design.
                </p>
              </details>
            </li>
            <li>
              <p class="about-section-text">
                In "Vyshyvanka Vibes" you will find various models of
                embroidery, from classic to modern, corresponding to the latest
                fashion trends. Our embroidery is made using natural fabrics and
                is embroidered by highly qualified craftsmen who convey the
                beauty of Ukrainian culture in every detail.We believe that
                vyshyvanka is not just clothing, but a symbol of national pride,
                the heritage of our ancestors and a way of expressing one's
                individuality. Each embroidery from "Vyshyvanka Vibes" has its
                own unique history and symbolism, which gives it a special
                meaning.
              </p>
              <details class="disclosure-widgets">
                <summary>"Vyshyvanka Vibes" is not just clothing</summary>
                <p>
                  In "Vyshyvanka Vibes" you will find various models of
                  embroidery, from classic to modern, corresponding to the
                  latest fashion trends. Our embroidery is made using natural
                  fabrics and is embroidered by highly qualified craftsmen who
                  convey the beauty of Ukrainian culture in every detail.We
                  believe that vyshyvanka is not just clothing, but a symbol of
                  national pride, the heritage of our ancestors and a way of
                  expressing one's individuality. Each embroidery from
                  "Vyshyvanka Vibes" has its own unique history and symbolism,
                  which gives it a special meaning.
                </p>
              </details>
            </li>
          </ul>
        </div>
        <div class="about-section-image">
          <picture>
            <!-- Desktop screen -->

            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/desk1280/Desk1280-about-x1.jpg 1x,
                ./images/desk1280/Desk1280-about-x2.jpg 2x
              "
              type="image/jpg"
              width="594"
              height="545"
            />
            <!-- Tablet screen -->

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/tablet-about-x1.jpg 1x,
                ./images/tablet/tablet-about-x2.jpg 2x
              "
              type="image/jpg"
              width="704"
              height="545"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/mobile/mobile-about-x1.jpg 1x,
                ./images/mobile/mobile-about-x2.jpg 2x
              "
              type="image/jpg"
              width="335"
              height="499"
            />

            <img
              class="card-img"
              src="./images/desk1280/Desk1280-about-x1.jpg"
              alt="Vyshyvanka"
              width="594"
              height="545"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="square">
          <img
            srcset="
          ./images/mobile/mobile-about-orn-x1.png 459w,
          ./images/tablet/Desk1440-1280-tablet-about-ornament-x1.png 545w,
          ./images/tablet/Desk1440-1280-tablet-about-ornament-x1.png 545px,

          ./images/mobile/mobile-about-orn-x2.png 918w,
          ./images/tablet/Desk1440-1280-tablet-about-ornament-x2.png 1090w,
          ./images/desk1280/Desk1440-1280-tablet-about-ornament-x2.png 1090w
          "
            sizes="(min-width: 1158px) 545px, (min-width: 768px) 545px, (max-width: 767px) 459px"
            src="./images/desk1280/Desk1440-1280-tablet-about-ornament-x1.png"
            alt="Ornament"
          />
        </div>
      </section>