  <section class="collection">
    <div class=" container container-collection">
      <h2 class="collection-logo">Our collection</h2>
      <ul class="collection-item">
        <li  class="collection-list">
          <img class="collection-img" 
          srcset="./images/mobile/mobile-poltava-x1.jpg 335w,
          ./images/mobile/mobile-poltava-x2.jpg 670w,
          ./images/tablet/tablet-poltava-x1.jpg 342w,
          ./images/tablet/tablet-poltava-x2.jpg 684w,
          ./images/desk1280/Desk1280-poltava-x1.jpg 347w,
          ./images/desk1280/Desk1280-poltava-x2.jpg 694w"
          sizes="(min-width: 1158px) 347px,  (min-width: 768px) 342px, (max-width: 767px) 684px "
           src="./images/mobile/mobile-poltava-x1.jpg" alt="Women's black blouse" width="335" height="400"/>
           
          <div class="collection-name-price">
            <h3 class="collection-name"> AUGUST Poltava women's blouseRING </h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" 
          srcset="./images/mobile/mobile-gorgany-x1.jpg 335w,
          ./images/mobile/mobile-gorgany-x2.jpg 670w,
          ./images/tablet/tablet-gorgany-x1.jpg 342w,
          ./images/tablet/tablet-gorgany-x2.jpg 684w,
          ./images/desk1280/Desk1280-gorgany-x1.jpg 347w,
          ./images/desk1280/Desk1280-gorgany-x2.jpg 694w"
          sizes="(min-width: 1158px) 347px,  (min-width: 768px) 342px, (max-width: 767px) 684px "

          
          src="./images/mobile/mobile-gorgany-x1.jpg" alt="Women's beige blouse" width="335" height="400" />
          <div class="collection-name-price">
            <h3 class="collection-name"> Women's blouse Gorgany</h3>
            <p class="collection-price">3350 UAH</p>
        </li>
        <li class="collection-list">
          <img class="collection-img" 
          srcset="./images/mobile/mobile-crimea-x1.jpg 335w,
          ./images/mobile/mobile-crimea-x2.jpg 670w,
          ./images/tablet/tablet-crimea-x1.jpg 342w,
          ./images/tablet/tablet-crimea-x2.jpg 684w,
          ./images/desk1280/Desk1280-crimea-x1.jpg 347w,
          ./images/desk1280/Desk1280-crimea-x2.jpg 694w"
          sizes="(min-width: 1158px) 347px,  (min-width: 768px) 342px, (max-width: 767px) 684px "
          src="./images/mobile/mobile-crimea-x1.jpg" alt="Women's white blouse" width="335" height="400"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Women's blouse Crimea</h3>
            <p class="collection-price">4000 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" 
          srcset="./images/mobile/mobile-ver-x1.jpg 335w,
          ./images/mobile/mobile-ver-x2.jpg 670w,
          ./images/tablet/tablet-ver-x1.jpg 342w,
          ./images/tablet/tablet-ver-x2.jpg 684w,
          ./images/desk1280/Desk1280-ver-x1.jpg 347w,
          ./images/desk1280/Desk1280-ver-x2.jpg 694w"
          sizes="(min-width: 1158px) 347px,  (min-width: 768px) 342px, (max-width: 767px) 684px "
          src="./images/mobile/mobile-ver-x1.jpg" alt="Men's beige shirt" width="335" height="400" />
          <div class="collection-name-price">
            <h3 class="collection-name">Men's shirt Verkhovina</h3>
            <p class="collection-price">3100 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img"
          srcset="./images/mobile/mobile-mount-x1.jpg 335w,
          ./images/mobile/mobile-mount-x2.jpg 670w,
          ./images/tablet/tablet-mount-x1.jpg 342w,
          ./images/tablet/tablet-mount-x2.jpg 684w,
          ./images/desk1280/Desk1280-mount-x1.jpg 347w,
          ./images/desk1280/Desk1280-mount-x2.jpg 694w"
          sizes="(min-width: 1158px) 347px,  (min-width: 768px) 342px, (max-width: 767px) 684px "
          src="./images/mobile/mobile-mount-x1.jpg" alt="Men's black shirt" width="335" height="400" />
          <div class="collection-name-price">
            <h3 class="collection-name">Mountain men's shirt</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" 
          srcset="./images/mobile/mobile-yasen-x1.jpg 335w,
          ./images/mobile/mobile-yasen-x2.jpg 670w,
          ./images/tablet/tablet-yasen-x1.jpg 342w,
          ./images/tablet/tablet-yasen-x2.jpg 684w,
          ./images/desk1280/Desk1280-yasen-x1.jpg 347w,
          ./images/desk1280/Desk1280-yasen-x2.jpg 694w"
          sizes="(min-width: 1158px) 347px,  (min-width: 768px) 342px, (max-width: 767px) 684px "
          src="./images/mobile/mobile-yasen-x1.jpg" alt="Men's white shirt" width="335" height="400"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Men's shirt Yasen</h3>
            <p class="collection-price">1700 UAH</p>
          </div>
        </li>
      </ul>
      <div class="square">
        <img class="back-square"
        srcset="./images/mobile/mobile-collection-orn-x1.png 199w
        ./images/mobile/mobile-collection-orn-x2.png 199w,
        ./images/desk1280/Desk1440-1280-tablet-collection-ornament-x1.png 338w,
        ./images/desk1280/Desk1440-1280-tablet-collection-ornament-x2.png 338w
        "
        sizes=" (max-width:767px) 199px, (min-width: 768px) 338px, (max-width:1280px) 338px "
        src="/images/mobile/mobile-collection-orn-x1.png"
        alt="Ornament"
        />
       </div>
    </div>
  </section>

