  <section class="collection">
    <div class="container">
      <h2 class="portfolio-logo">Our collection</h2>
      <ul class="collection-item">
        <li  class="collection-list">
          <img class="collection-img" src="./images/mobile/mobile-poltava-x2.jpg" alt="Women's black blouse" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name"> AUGUST Poltava women's blouseRING </h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="./images/mobile/mobile-gorgany-x2.jpg" alt="Women's beige blouse" width="335px" height="400px" />
          <div class="collection-name-price">
            <h3 class="collection-name"> Women's blouse Gorgany</h3>
            <p class="collection-price">3350 UAH</p>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="./images/mobile/mobile-crimea-x2.jpg" alt="Women's white blouse" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Women's blouse Crimea</h3>
            <p class="collection-price">4000 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="./images/mobile/mobile-ver-x2.jpg" alt="Men's beige shirt" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Men's shirt Verkhovina</h3>
            <p class="collection-price">3100 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="./images/mobile/mobile-mount-x2.jpg" alt="Men's black shirt" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Mountain men's shirt</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="./images/mobile/mobile-yasen-x2.jpg" alt="Men's white shirt" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Men's shirt Yasen</h3>
            <p class="collection-price">1700 UAH</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

