<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebStudio (Version 5.0)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/style.css/style.css" />
  </head>
  <section class="collection">
    <div class="container">
      <h2 class="portfolio-logo">Our collection</h2>
      <ul class="collection-item">
        <li  class="collection-list">
          <img class="collection-img" src="./images/mobile/mobile-poltava-x1.jpg" alt="Women's black blouse" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name"> AUGUST Poltava women's blouseRING </h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="" alt="Women's beige blouse" width="335px" height="400px" />
          <div class="collection-name-price">
            <h3 class="collection-name"> Women's blouse Gorgany</h3>
            <p class="collection-price">3350 UAH</p>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="" alt="Women's white blouse" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Women's blouse Crimea</h3>
            <p class="collection-price">4000 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="" alt="Men's beige shirt" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Men's shirt Verkhovina</h3>
            <p class="collection-price">3100 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="" alt="Men's black shirt" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Mountain men's shirt</h3>
            <p class="collection-price">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list">
          <img class="collection-img" src="" alt="Men's white shirt" width="335px" height="400px"/>
          <div class="collection-name-price">
            <h3 class="collection-name">Men's shirt Yasen</h3>
            <p class="collection-price">1700 UAH</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</html>
