<header class="header">
  <div class="container header-page-container">
    <nav class="nav-main">
      <a class="logo-icon" href="./index.html">
        <img src="./images/logo.svg" alt="" width="44" height="39" />
      </a>
      <ul class="nav-menu">
        <li class="nav-menu-list"><a class="nav-list" href="#about-us"></a>About us</li>
        <li class="nav-menu-list">
          <a class="nav-list" href="#our-collection"></a>Our collection
        </li>
        <li class="nav-menu-list">
          <a class="nav-list" href="#customer-order"></a>Customer order
        </li>
        <li class="nav-menu-list">
          <a class="nav-list" href="#testimonials"></a>Testimonials
        </li>
      </ul>
    </nav>
    <div class="contact-menu">
      <address class="menu-address">
        <a class="contact-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
      <div class="menu-grup">
        <ul class="cocial-list-menu">
          <li class="cocial-icon-list">
            <a class="cocial-icon-menu" href="https://www.facebook.com/goITclub/">
              <svg class="cosial-icon" width="28" height="28">
                <use href="./images/sprint.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="cocial-icon-list">
            <a
              class="cocial-icon-menu"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="cosial-icon" width="28" height="28">
                <use href="./images/sprint.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="cocial-icon-list">
            <a class="cocial-icon-menu" href="https://www.youtube.com/c/GoIT">
              <svg class="cosial-icon" width="28" height="28">
                <use href="./images/sprint.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button class="open-menu-btn">
          <svg class="burger-menu" width="36" height="24">
            <use href="./images/sprint.svg#icon-Nav"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
