<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vyshyvanka</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Manrope:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/menu.css">
</head>

<section class="menu">
<div class="mobile-menu.is-open">
    <div class="container mobile-menu-container">
        <div class="mobile-menu-tel-dtn">
                <a class="mobile-menu-tel link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            <button class="mobile-menu-close-btn button" type="button">
                <svg type="button" aria-label="modal close button" width="" height="">
                    <use href="../images/sprint.svg#icon-x"></use>
                </svg>
            </button>
        </div>
        <nav>
            <ul class="mobile-menu-list">
                <li><a class="mobile-menu-list-item link" href="">About us</a></li>
                <li><a class="mobile-menu-list-item link" href="">Our collection</a></li>
                <li><a class="mobile-menu-list-item link" href="">Customer order</a></li>
                <li><a class="mobile-menu-list-item link" href="">Testimonials</a></li>
            </ul>
        </nav>
    </div>
</div>
</section>
