<section class="container testimonials-container">
  <div class="testimonials-main-container">
    <div>
      <h2 class="testimonials-main-title">Testimonials</h2>
    </div>
    <div class="testimonials-content-container">
      <ul>
        <li>
          <img
            srcset="
              ./images/test-maria-x1.png  72w,
              ./images/test-maria-x2.png 144w,
              ./images/test-nata-x1.png   72w,
              ./images/test-maria-x2.png 144w,
              ./images/test-serg-x1.png   72w,
              ./images/test-serg-x2.png  144w
            "
            sizes="72px"
            src="./images/test-maria-x1.png"
            alt="Person"
          />
          <!-- <img src="./images/testim-maria-x1.jpg" alt="Mariia Tkachuk" width="64" height="64"></img> -->
        </li>
        <li></li>
      </ul>

      <div class="testimonials-text-container">
        <h3 class="testimonials-title">Maria Tkachuk</h3>
        <p class="testimonials-text">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </div>
    </div>
  </div>
</section>
