<section class="container testimonials-container">
  <div class="testimonials-main-container">
      <h2 class="testimonials-main-title">Testimonials</h2>
      <ul class="testimonials-list">

<div class="testimonials-list-item">
  
 <li>
  <div class="icon-wrap">
               <img srcset="./images/test-maria-x1.png 1x, ./images/test-maria-x2.png 2x" 
           src="./images/test-maria-x1.png"
           alt="Mariia Tkachuk" width="64" height="64"></img></div>
        <div class="testimonials-text-container">
<h3 class="testimonials-title">Maria Tkachuk</h3>
<p class="testimonials-text">I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka Vibes. They have models for every taste - from classic to modern. I bought an embroidered dress to celebrate a special occasion and received impeccable service and refinement in every detail. </p>
        </div>
          </li>
</div>
       
          <div class="testimonials-list-item tablet-version">
  <li>
    <div class="icon-wrap">
          <img srcset="./images/test-serg-x1.png 1x,  ./images/test-serg-x2.png  2x" 
           src="./images/test-serg-x1.png "
           alt="Sergey Rybachok" width="64" height="64"></img>
    </div>
        <div class="testimonials-text-container">
<h3 class="testimonials-title">Sergey Rybachok</h3>
<p class="testimonials-text">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply masterpieces! I fell in love with the quality of the materials and the skill of the artisans behind each product. This is my favorite embroidery shop where I always find something special and unique. </p>
        </div>
          </li>
          </div>

           <div class="testimonials-list-item desktop-version">
   <li>
    <div class="icon-wrap">
           <img srcset="./images/test-nata-x1.png  1x,  ./images/test-nata-x2.png   2x" 
           src="./images/test-nata-x1.png  "
           alt="Natalia Chatuk" width="64" height="64"></img>
    </div>
        <div class="testimonials-text-container">
<h3 class="testimonials-title">Natalia Chatuk</h3>
<p class="testimonials-text">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture. Their embroidery reflects the spirit and traditions of our people. I not only buy embroidered shirts for myself, but also give them to my friends abroad as a symbol of our beauty and national pride. </p>
        </div>
          </li>
           </div>
      </ul>
    </div>
</section>

