/*=================ABOUT US MOBILE STYLES==================*/

.about-section {
    max-width: 335px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.about-section-container {
    position: relative;
    background-color: var(--dark);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}

/* background-image: url(./images/mobile/mobile-about-orn-x1.png);
background-repeat: no-repeat;
background-position-x: 127px;
background-position-y: 300px; */

.square {
    position: absolute;
    z-index: 99999999999;
    top: 300px;
    left: 125px;
    background: no-repeat;
}

.about-section-title {
    color: var(--white);
    font-size: 32px;
    line-height: 1.37;
    letter-spacing: -0.03em;
}

.about-section-list {
    text-align: left;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
    color: rgba(252, 249, 249, 0.4);
}

.about-section-item {
    margin-bottom: 20px;
}

.about-section-image {
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.about-section-text {
    display: none;
}

/* Styling the Disclosure Widgets */

@media screen and (max-width: 767px) {
    details>summary {
        background-color: rgba(252, 249, 249, 0.1);
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 0 0 10px 10px;
    }

    .disclosure-widgets:hover,
    .disclosure-widgets:focus {
        color: rgb(180, 180, 180);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    details>summary>* {
        display: inline;
    }

    details>p {
        border-radius: 5px;
        box-shadow: 3px 3px 4px rgba(252, 249, 249, 0.1);
    }

    details>div {
        border: 2px solid rgba(252, 249, 249, 0.1);
        padding: 1rem;
    }

    details>summary {
        background-color: rgba(252, 249, 249, 0.1);
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 0 0 10px 10px;
    }

    .disclosure-widgets:hover,
    .disclosure-widgets:focus {
        color: rgb(180, 180, 180);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    details>summary>* {
        display: inline;
    }

    details>p {
        border-radius: 5px;
        box-shadow: 3px 3px 4px rgba(252, 249, 249, 0.1);
    }

    details>div {
        border: 2px solid rgba(252, 249, 249, 0.1);
        padding: 1rem;
    }
}

/* Styling the Disclosure Widgets */

/*=================ABOUT US MOBILE STYLES==================*/

/*=================ABOUT US TABLET STYLES==================*/

@media screen and (min-width: 768px) {
    .about-section-container {
        padding-left: 32px;
        padding-right: 32px;
   margin-bottom: 100px;
    }

    .square {
        top: 495px;
        left: 250px;

    }

    .about-section {
        max-width: 704px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .about-section-title {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em;
    }

    .disclosure-widgets {
        display: none;
    }

    .about-section-text {
        display: block;
    }

    .about-section-list {
        font-size: 16px;
        letter-spacing: -0.04em;
        margin-bottom: 40px;
    }
}

/*=================ABOUT US TABLET STYLES==================*/

/*=================ABOUT US DESKTOP STYLES==================*/

@media screen and (min-width: 1158px) {
    .about-section-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 150px;
    }

    .square {
        top: 150px;
        left: 700px;
    }

    .about-section {
        max-width: 436px;
    }

    .about-section-image {
        width: 100%;
    }
}

/*=================ABOUT US DESKTOP STYLES==================*/