.container{
  position: relative;
}

img {
  display: block;
}
.collection {
  background-image: url(./images/mobile/mobile-collection-orn-x1.png);
  background-repeat: no-repeat;
  background-position-x: 127px;
  background-position-y: 300px;
}



.collection-logo {
  color: #fcf9f9;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .collection-logo {
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

.collection-item {
  list-style: none;
  display: flex;
  flex-direction: column;

  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .collection-item {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .collection-item {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
  }
}

.collection-list {
  position: relative;

  align-items: flex-start;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .collection-list {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .collection-list {
    width: calc((100% - 40px) / 3);
  }
}

.collection-name-price {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  padding-top: 18px;
  gap: 8px;
}

.collection-name {
  overflow: hidden;
  color: #fcf9f9;

  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .collection-name {
    text-overflow: ellipsis;
  }
}

.collection-price {
  color: rgba(252, 249, 249, 0.4);

  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.03em;
}
.square {
  position: absolute;
  z-index: 99999999999;
  top: 333px;
  left: -29px;
  background-repeat: no-repeat;}

@media screen and (min-width: 768px) {
  .square {
    top: 261px;
    left: -53px;
  }
}

@media screen and (min-width:1280px) {
  .square {
    top: 262px;
    left: -5px;
  }
}
.back-square{
  background-repeat: no-repeat;

}