/*################### mobile style #########################*/
.container {
  padding-left: 0;
  padding-right: 0;
}

.order-img-container {
  display: none;
}

.order-sectiom-main-img {
  padding: 0;
  width: 375px;
  height: 550px;
  background-image: url(../images/mobile/mobile-bg-girl-x1.jpg);
  background-color: #ffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.order-form-title {
  max-width: 335px;
  color: #ecd979;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.container-order-form {
  padding-left: 20px;
  padding-right: 20px;
}

.order-form-title-span {
  color: #fcf9f9;
}
.order-form-wrapper {
  margin-bottom: 20px;
}
.order-form-fild-input {
  color: #fcf9f9;
  font-family: Manrope;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  padding: 14px 16px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-comment {
  color: #fcf9f9;
  font-family: Manrope;
  min-height: 196px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  padding: 14px 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-wrapper-comment {
  margin-bottom: 40px;
}
.order-form-btn {
  display: flex;
  height: 49px;
  padding: 14px 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 81px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  cursor: pointer;
  background-color: transparent;
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-btn:focus,
.order-form-fild-input:focus,
.order-form-comment:focus {
  border: 1px solid #ecd979;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: url(../images/mobile/mobile-bg-girl-x2.jpg);
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;
  }
}

/*################### tablet style #########################*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 100px;
  }
  .order-sectiom-main-img {
    padding: 0;
    height: 776px;
    width: 768px;
    background-image: url(../images/tablet/tablet-bg-girl-x1.jpg);
    background-color: #ffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
  }
  .container-order-form {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--dark);
    background-image: url(../images/desk1280/Desk1440-1280-tablet-form-ornament-x1.png);
    background-size: 325px 484px;
    background-repeat: no-repeat;
    background-position-x: -3px;
    background-position-y: 827px;
  }

  .order-form-title {
    max-width: 542px;
    font-size: 44px;
    line-height: 1.31;
    margin-bottom: 40px;
  }

  .order-form-wrapper-comment,
  .order-form-wrapper {
    max-width: 508px;
  }

  .order-form-btn {
    margin-left: 0;
  }
  .order-img-container {
    display: flex;
    padding-bottom: 79px;
    flex-direction: row-reverse;
  }
  .order-img-container-pic {
    width: 638px;
    height: 521px;
    border-radius: 4px;
  }
}
@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: url(../images/tablet/tablet-bg-girl-x2.jpg);
  }
}
/*################### desktop style #########################*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 0;
    padding-right: 0;
  }
  .order-sectiom-main-img {
    height: 776px;
    width: 1280px;
    background-image: url(../images/desk1280/Desk1280-bg-girl-x1.jpg);
    background-color: #ffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
  }
  .container-order-form {
    padding-left: 64px;
    padding-right: 100px;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 150px;
    background-position-x: -35px;
    background-position-y: 156px;
  }

  .order-img-container-pic {
    width: 524px;
    height: 521px;
  }

  .order-form-btn:hover {
    border: 1px solid #ecd979;
  }
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: url(../images/desk1280/Desk1280-bg-girl-x2.jpg);
  }
}
