/*################### mobile style #########################*/

.order-img {
  display: none;
}

.order-form-title {
  max-width: 335px;
  color: #ecd979;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.order-form-title-span {
  color: #fcf9f9;
}
.order-form-wrapper {
  margin-bottom: 20px;
}
.order-form-fild-input {
  color: #fcf9f9;
  font-family: Manrope;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  padding: 14px 16px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  outline: transparent;
}

.order-form-comment {
  color: rgba(252, 249, 249, 0.5);
  font-family: Manrope;
  min-height: 196px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  padding: 14px 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  outline: transparent;
}
.order-form-wrapper-comment {
  margin-bottom: 40px;
}
.order-form-btn {
  display: flex;
  height: 49px;
  padding: 14px 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 81px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  cursor: pointer;
  background-color: transparent;
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  outline: transparent;
}
.order-form-btn:focus,
.order-form-fild-input:focus,
.order-form-comment:focus {
  border: 1px solid #ecd979;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*################### tablet style #########################*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column-reverse;
  }

  .order-form-title {
    max-width: 542px;
    font-size: 44px;
    line-height: 1.31;
  }

  .order-form-wrapper-comment,
  .order-form-wrapper {
    max-width: 508px;
  }

  .order-form-btn {
    margin-left: 0;
  }
  .order-img {
    display: block;
    max-width: 638px;
  }
}
/*################### desktop style #########################*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
