.hero-title-and-order-button-wrapper {
  margin-bottom: 40px;
}

.hero-title {
  margin-bottom: 20px;
  text-align: center;
}

.hero-title,
.hero-title-span {
  max-width: 335px;
  color: #fcf9f9;
  font-weight: 400;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
  animation-duration: 3s;
  animation-name: h1;
  }

  @keyframes h1 {
    from {
      margin-left: 100%;
      width: 300%;
    }

    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.hero-title-span {
  color: var(--white, #FCF9F9);
}

.hero-order-link {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.195em;
  letter-spacing: -.56px;
  width: 154.52px;
  height: 49px;
  padding: 14px 36px;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #fcf9f91a;
  margin-left: 70px;
  transition: border .25s cubic-bezier(.4,0,.2,1)
}

.hero-order-link:hover {
  border-color: #ECD979;
}
.hero-order-link:focus {
  border: 1px solid #ecd979;

}

.hero-order-icon {
  fill: var(--yellow, #ECD979);
}

.hero-girl-img {
  border-radius: 4px;
}

.hero-description {
  display: none;
}

.ukrainian-map-img {
  display: none;
}

@media screen and (min-width: 375px) {
  .hero-title {
    text-align: left;
  }

  .hero-order-link {
    margin-left: 70px;
  }

  .hero-girl-img {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 86px;
  }

  .hero-container {
    position: relative;
  }

  .hero-title {
    max-width: 549px;
    margin-bottom: 40px;
  }

  .hero-title,
  .hero-title-span {
    font-size: 54px;
    line-height: 1.19;
  }

  .hero-order-link {
    font-size: 16px;
    width: 168px;
    height: 50px;
    padding: 14px 39px;
    margin-left: 141px;
  }

  .hero-girl-img {
    max-width: 413px;
  }

  .hero-description {
    display: block;
    position: absolute;
    top: -26px;
    right: 0;
    width: 115px;
    text-align: center;
  }

  .star-icon {
    margin-bottom: 16px;

  }

  .hero-text-description {
    color: rgba(252, 249, 249, 0.4);
    line-height: normal;
    letter-spacing: -0.04em;
  }

  .ukrainian-map-img {
    display: block;
    position: absolute;
    right: 0;
    bottom: -99px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 80px;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 40px;
  }

  .hero-title-and-order-button-wrapper {
    margin-top: 94px;
    margin-bottom: 0;
  }

  .hero-title,
  .hero-title-span {
    max-width: 532px;
  }

  .hero-girl-img {
    max-width: 392px;
  }

  .hero-description {
    top: -14px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title-and-order-button-wrapper {
    margin-top: 66px;
  }

  .hero-title,
  .hero-title-span {
    font-size: 64px;
    line-height: 1.16;
    max-width: 630px;
  }

  .hero-description {
    top: 66px;
  }
}
/* === MOBILE 320px === */

@media screen and (min-width: 320px) {
  .hero-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-title-container {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .hero-title,
  .yellow-word {
    max-width: 320px;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.23;
    letter-spacing: -0.03em;
  }

  .yellow-word {
    color: var(--yellow, #ECD979);
  }

  .hero-order-link {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.195em;
    letter-spacing: -.56px;
    width: 154.52px;
    height: 49px;
    padding: 14px 36px;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #fcf9f91a;
    margin-left: 70px;
    transition: border .25s cubic-bezier(.4,0,.2,1)
  }

  .hero-order-link:hover,
  .hero-order-link:focus {
    border: 1px solid var(252, 249, 249, 0.10);
  }

  .arrow {
    flex-shrink: 0;
    fill: var(--yellow, #ECD979);
  }

  .icon-star-container {
    display: none;
  }

  .hero-ukraine-map {
    display: none;
  }
}

/* === MOBILE 375px === */

@media screen and (min-width: 375px) {
  .hero-container {
    max-width: 335px;
  }

  .hero-title,
  .yellow-word {
    max-width: 335px;
  }
}

/* === TABLET 768px === */

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .hero-container {
    max-width: 704px;
    position: relative;

    margin-bottom: 0px;
  }

  .hero-girl {
    border-radius: 4px;
    width: 413px;
  }

  .hero-title-container {
    margin-top: 0px;
  }

  .hero-title,
  .yellow-word {
    font-size: 54px;
    line-height: 1.19em;
    max-width: 549px;
    margin-top: 26px;
  }

  .hero-order-link {
    width: 168px;
    padding: 14px 39px;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 141px;
  }

  .icon-star-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 115px;
  }

  .icon-star {
    width: 52px;
    height: 51px;
    display: block;
    margin: 0 auto 16px;
  }

  .icon-star-text {
    width: 115px;
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
  }

  .hero-ukraine-map {
    width: 139px;
    flex-shrink: 0;
    display: block;
    position: absolute;
    bottom: -100px;
    right: 0;
  }
}

/* === DESKTOP 1280px === */

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 80px;
    padding-bottom: 75px;
  }

  .hero-container {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 40px;
    max-width: 1080px;
  }

  .hero-girl {
    width: 392px;
  }

  .hero-title-container {
    margin-top: 94px;
    margin-bottom: 0px;
  }

  .hero-title,
  .yellow-word {
    max-width: 518px;
    margin: 0;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-star {
  width: 100px;
  height: 100px;
  animation: spin 5s linear infinite;
}


/* === DESKTOP 1440px === */
/*@media screen and (min-width: 1440px) {
  .hero-container {
    max-width: 1240px;
  }

  .hero-title-container {
    margin-top: 66px;
  }

  .hero-title,
  .yellow-word {
    font-size: 64px;
    line-height: 1.16;
    max-width: 630px;
  }

  .icon-star-container {
    top: -26;
    top: 66;
 }

}*/