/* ============== COMMON STYLES ============== */
ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

body {
    color: #1C2225;
    background-color: #ECD979;
    width: 274px;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.button {
    cursor: pointer;
}

/* ============== MOBILE MENU ============== */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 274px;
    height: 100%;
    z-index: 99999999999;
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
    /* padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%; */
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 274px;
    height: 100%;
    z-index: 999999999999;
    background-image: url(../images/mobile/mobile-menu-orn-x1.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 561px;
}

.mobile-menu-tel {
    color: #1C2225;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.10);
}

.mobile-menu-close-btn {
    width: 36px;
    height: 36px;
    stroke: #1C2225;
    background-color: #ECD979; 
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-tel-dtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    align-items: center;
    text-align: center;
}

.mobile-menu-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    /* padding: 186px 20px 185px 130px; */
    margin: 186px 20px 185px 130px;
}

.mobile-menu-list-item { 
    color: #1C2225;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .body {
        width: 380px;
    }

    .mobile-menu {
        width: 380px;
    }

    .menu {
        width: 380px;
        background-image: url(../images/tablet/tablet-menu-ornament-x1.png);
        background-position-y: 660px;
    }

    .mobile-menu-tel-dtn {
        padding: 20px 32px 0 32px;
    }

    .mobile-menu-tel {
        font-size: 14px;
        line-height: 1.42;
    }

    .mobile-menu-close-btn {
        width: 44px;
        height: 44px;
    }

    .mobile-menu-list {
        /* padding: 186px 20px 185px 130px; */
        margin: 223px 20px 223px 223px;
    }
}