/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./collection.css');
@import url('./form.css');
@import url('./testimonials.css');
@import url('./footer.css');
@import url('./menu.css');

:root {
  --dark: #1C2225;
  --yellow: #ECD979;
  --white: #FCF9F9;
}