/*=======TESTIMONIALS MOBILE STYLES======*/
.testimonials-container {
    margin-bottom: 100px;
}

.testimonials-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.testimonials-main-title {
    font-size: 32px;
    line-height: 1.37;
    letter-spacing: -0.03em;
    margin-bottom: 64px;
    color: var(--white);
}

.testimonials-list-item {
    display: flex;
    width: 335px;
    padding: 0px 18px 18px 18px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.1);
}

.testimonials-title {
    font-size: 20px;
    line-height: 1.5;
    color: var(--white);
}

.testimonials-text {
    font-weight: 400;
    line-height: normal;
    color: rgba(252, 249, 249, 0.4);
}

.icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 34px;
    padding-bottom: 10px;
}

.tablet-version {
    display: none;
}

.desktop-version {
    display: none;
}

/*=======TESTIMONIALS MOBILE STYLES======*/

/*=======TESTIMONIALS TABLET STYLES======*/
@media screen and (min-width: 768px) {

    .testimonials-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    .tablet-version {
        display: flex;
    }
}

/*=======TESTIMONIALS TABLET STYLES======*/

/*=======TESTIMONIALS DESKTOP STYLES======*/

@media screen and (min-width: 1158px) {

    .desktop-version {
        display: flex;
    }
}

/*=======TESTIMONIALS DESKTOP STYLES======*/